*{
margin-top: 3px;
    padding: 5px;
}
.head{

}
.btn{
    float:right;
    font-size: 16.5px;
    color: black;
    text-decoration: none;
    font-family: Arial;
    justify-content: right;
    padding-right: 40px;
}

.image{
    width: 100%;
    min-height: 100vh;

}
.rice{
    width: 560px;
    height: 290px;
    margin: 7px;
    justify-content: center;
    position: relative;
}
.btn:hover{
    background-color: rgb(245, 245, 200);

}

